.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 5px green;
  height: 50vh;
}
.mainTitle {
  margin-bottom: 20px;
  text-transform: capitalize;
  color: grey;
}
.secondTitle {
  margin-bottom: 20px;
  color: darkgray;
}
.form {
  margin-bottom: 15px;
}
.selectOption {
  padding: 10px;
  border: solid 2px lightgrey;
  cursor: pointer;
}

.littleTitle {
  margin-bottom: 15px;
  background-color: aquamarine;
  color: white;
  padding: 10px;
  border-radius: 20%;
}

.btnPlay {
  background-color: aquamarine;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-color: lightgrey;
  border-radius: 10%;
  cursor: pointer;
}

.resetBtn {
  margin-top: 20px;
  background-color: aqua;
  color: white;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}
.player {
  margin-bottom: 10px;
  font-weight: bold;
  color: grey;
}
.cpu {
  font-weight: bold;
  color: grey;
}

.hidden {
  display: none;
}
