.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 5px green;
  height: 50vh;
}
.mainTitle {
  margin-bottom: 20px;
  text-transform: capitalize;
}
.secondTitle {
  margin-bottom: 20px;
}
.form {
  margin-bottom: 15px;
}
.selectOption {
  padding: 10px;
}

.littleTitle {
  margin-bottom: 15px;
  background-color: aquamarine;
  color: white;
  padding: 10px;
  border-radius: 20%;
}

.btnPlay {
  background-color: aquamarine;
  color: white;
  padding: 10px;
}

.resetBtn {
  margin-top: 20px;
  background-color: aqua;
  color: white;
  padding: 10px;
}

.hidden {
  display: none;
}
